.item {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #aaa;
}

.item > * {
  margin: 0;
}

.item img {
  width: 150px;
}

.imgBox {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--onyx);
  width: 200px;
  height: 200px;
  border-radius: 5px;
}

.item a {
  background-color: var(--hookers-green);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  padding: 7px;
  margin-top: 5px;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.item a:hover {
  background-color: var(--hookers-green-secondary);
}
