.contact {
  display: flex;
  align-items: center;
  font-size: 18pt;
  gap: 10px;
  margin: 10px;
}

.contact > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  font-size: 16pt;
  padding: 4px;
  border-radius: 50%;
}

.info a {
  text-decoration: none;
  color: var(--onyx);
}
