.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.header img {
  width: 50px;
}

.side {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.side h1 {
  color: var(--onyx);
}

.side span {
  color: var(--hookers-green);
}

.side svg {
  color: var(--sky-blue);
  font-size: 40px;
}
