:root {
  --sky-blue: #61dafbff;
  --hookers-green: #397367ff;
  --hookers-green-secondary: #2c5a51;
  --onyx: #35393cff;
  --rose-quartz: #bfacb5ff;
  --pale-dogwood: #e5d0ccff;
  --amaranth: #da3e52ff;
  --maize: #f2e94eff;
}
